body.dark {

  --elm-white: #0f172a;
  --elm-text-default: #f1f5f9;
  --elm-gray-light: #1e293b;

  --elm-background-primary-25: #1e293b;
  --elm-background-neutral-50: #0f172a;

  --elm-input-border-default: #334155;

}