.service-sidebar {
    .sidebar-item {
        display: flex;
        align-items: start;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    .app-stores img {
        filter: grayscale(1) opacity(0.8);
        transition: all 0.3s ease;

        &:hover {
            filter: none;
            opacity: 1;
        }
    }
}

.video-placeholder {
    height: 360px;
    background: #EBF1EF;

    .play-btn {
        transition: transform 0.2s ease;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.steps-list {
    .step-number {
        min-width: 25px;
    }
}


:host-context([dir="ltr"]) {
    .breadcrumb-item+.breadcrumb-item::before {
        float: left;
        padding-right: var(--bs-breadcrumb-item-padding-x);
    }

    .service-tabs .p-tabview-nav {
        justify-content: flex-start;
    }
}

.border-md-start {
    @media (min-width: 768px) {
        border-right: 1px solid #EEE !important;
        border-left: none !important;
    }
}

:host-context([dir="ltr"]) {
    .border-md-start {
        @media (min-width: 768px) {
            border-left: 1px solid #EEE !important;
            border-right: none !important;
        }
    }
}