// Elm Corporate Portal - Global Styles
@import "bootstrap/dist/css/bootstrap.min.css";
@import "primeicons/primeicons.css";


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {

    --elm-primary: #074D31;
    --elm-secondary: #1B8354;
    --elm-tag-border-success-light: #ABEFC6;
    --elm-tag-background-success-light: #ECFDF3;
    --elm-input-border-default: #9DA4AE;
    --elm-input-text-placeholder: #6C737F;
    --elm-button-background-neutral-default: #F3F4F6;
    --elm-stepper-button-upcomming: #D2D6DB;
    --elm-stepper-text-primary: #1F2A37;
    --elm-stepper-text-secondary: #384250;
    --elm-dark: #1A1A1A;
    --elm-tag-text-info: #1849A9;
    --elm-tag-background-info-light: #EFF8FF;
    --elm-background-neutral-50: #f9fafb;
    --elm-tag-border-info-light: #B2DDFF;
    --elm-text-default: #161616;
    --elm-gray-light: #F8F9FA;
    --elm-white: #FFFFFF;
    --elm-shadow: 0 0 0 0.2rem rgba(0, 118, 100, 0.25);
    --font-family-ar: 'Cairo', sans-serif;
    --font-family-en: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--elm-white);
    color: var(--elm-text-default);
    font-family: var(--font-family-ar); // Default Arabic
    overflow-x: hidden;

    &[dir="rtl"] {
        text-align: right;
    }

    &[dir="ltr"] {
        font-family: var(--font-family-en);
        text-align: left;
    }
}

// Custom Scrollbar
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--elm-primary);
    border-radius: 4px;
}


// button
.elm-btn-primary,
.elm-btn-outline {
    padding: 0.5rem 0.7rem;
    border-radius: 4px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    font-size: 16px;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

.elm-btn-primary {
    background-color: var(--elm-secondary);
    color: var(--elm-white);
    border: none;
    border: 1px solid var(--elm-primary);

    &:hover {
        background: rgb(11, 159, 92);
    }
}

.elm-btn-outline {
    background-color: transparent;
    color: var(--elm-text-default);
    border: 1px solid var(--elm-primary);

    &:hover {
        background-color: var(--elm-primary);
        color: var(--elm-white);
    }
}


// Global Classes

.card-title {
    font-size: 18px;
    font-weight: 700;
}

.elm-section__title {
    color: var(--elm-text-default);
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
}


@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&family=Inter:wght@400;600;700&display=swap');